# Importing libraries

In [18]:
# Import the NumPy library with the alias 'np' for numerical operations.
import numpy as np

# Import the Pandas library with the alias 'pd' for data manipulation and analysis.
import pandas as pd

# Importing Dataset

In [19]:
# Read a CSV file named 'messages.csv' and store its contents in a Pandas DataFrame called 'df'.
df = pd.read_csv('messages.csv')

In [20]:
df.head()

                  date                                                msg
0  2013-12-15 00:50:00                           ищу на сегодня мужика 37
1  2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826
2  2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576
3  2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...
4  2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше

In [21]:
# Display information about the DataFrame 'df,' including data types, non-null counts, and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   object
 1   msg     1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

As we can see, our date column's datatype is 'object' (obj). The issue is that we cannot perform date and time-related actions, such as extracting minutes or seconds, with this datatype. To address this, we need to convert it to a 'datetime' datatype.

In [22]:
# Convert the 'date' column in the DataFrame 'df' to datetime format using 'pd.to_datetime'.
df['date'] = pd.to_datetime(df['date'])

In [23]:
# Display information about the DataFrame 'df,' including data types, non-null counts, and memory usage.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1000 non-null   datetime64[ns]
 1   msg     1000 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.8+ KB

# Working with Time

### 1. Extracting Hour from Date

In [24]:
# Create a new column 'hour' in the DataFrame 'df' to extract the hour component from the 'date' column.
df['hour'] = df['date'].dt.hour

# Display the DataFrame with the new 'hour' column.
df.head()

                 date                                                msg  hour
0 2013-12-15 00:50:00                           ищу на сегодня мужика 37     0
1 2014-04-29 23:40:00   ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826    23
2 2012-12-30 00:21:00           Днепр.м 43 позн.с д/ж *.о  067.16.34.576     0
3 2014-11-28 00:31:00  КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...     0
4 2013-10-26 23:11:00    Зая я тебя никогда не обижу  люблю тебя!)  Даше    23

### 2. Extracting Minute from Date

In [25]:
# Create a new column 'min' in the DataFrame 'df' to extract the minute component from the 'date' column.
df['min'] = df['date'].dt.minute

# Display the DataFrame with the new 'min' column.
df.head()

,date,msg,hour,min
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11

### 3. Extracting Second from Date

In [26]:
# Create a new column 'sec' in the DataFrame 'df' to extract the second component from the 'date' column.
df['sec'] = df['date'].dt.second

# Display the DataFrame with the new 'sec' column.
df.head()

,date,msg,hour,min,sec
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0

### 4. Extracting Time from Date&Time column

In [27]:
# Create a new column 'time' in the DataFrame 'df' to extract the time component from the 'date' column.
df['time'] = df['date'].dt.time

# Display the DataFrame with the new 'time' column.
df.head()

,date,msg,hour,min,sec,time
0,2013-12-15 00:50:00,ищу на сегодня мужика 37,0,50,0,00:50:00
1,2014-04-29 23:40:00,ПАРЕНЬ БИ ИЩЕТ ДРУГА СЕЙЧАС!! СМС ММС 0955532826,23,40,0,23:40:00
2,2012-12-30 00:21:00,Днепр.м 43 позн.с д/ж *.о 067.16.34.576,0,21,0,00:21:00
3,2014-11-28 00:31:00,КИЕВ ИЩУ Д/Ж ДО 45 МНЕ СЕЙЧАС СКУЧНО 093 629 9...,0,31,0,00:31:00
4,2013-10-26 23:11:00,Зая я тебя никогда не обижу люблю тебя!) Даше,23,11,0,23:11:00

### 5. Calculating Time Difference

In [28]:
# Import the 'datetime' module and obtain the current date and time as 'today'.
import datetime
today = datetime.datetime.today()

# Calculate the time difference between 'today' and the dates in the 'date' column of the DataFrame 'df'.
time_difference = today - df['date']

# Display the time difference.
time_difference

0     3571 days 03:12:16.077437
1     3435 days 04:22:16.077437
2     3921 days 03:41:16.077437
3     3223 days 03:31:16.077437
4     3620 days 04:51:16.077437
                 ...
995   4210 days 03:12:16.077437
996   3531 days 04:48:16.077437
997   3996 days 04:25:16.077437
998   4112 days 04:28:16.077437
999   3384 days 04:37:16.077437
Name: date, Length: 1000, dtype: timedelta64[ns]

### 6. Calculating Hours of Time Difference

In [29]:
# Calculate the number of hours (rounded) as part of the time difference between 'today' and the dates in the 'date' column of the DataFrame 'df'.
hours_difference = np.round((today - df['date']) / np.timedelta64(1, 'h'), 0)

# Display the number of hours.
hours_difference

0       85707.0
1       82444.0
2       94108.0
3       77356.0
4       86885.0
         ...
995    101043.0
996     84749.0
997     95908.0
998     98692.0
999     81221.0
Name: date, Length: 1000, dtype: float64

### 7. Calculating Minutes of Time Difference

In [30]:
# Calculate the number of minutes (rounded) as part of the time difference between 'today' and the dates in the 'date' column of the DataFrame 'df'.
minutes_difference = np.round((today - df['date']) / np.timedelta64(1, 'm'), 0)

# Display the number of minutes.
minutes_difference

0      5142432.0
1      4946662.0
2      5646461.0
3      4641331.0
4      5213091.0
         ...
995    6062592.0
996    5084928.0
997    5754505.0
998    5921548.0
999    4873237.0
Name: date, Length: 1000, dtype: float64

### 8. Calculating Seconds of Time Difference

In [31]:
# Calculate the number of seconds (rounded) as part of the time difference between 'today' and the dates in the 'date' column of the DataFrame 'df'.
seconds_difference = np.round((today - df['date']) / np.timedelta64(1, 's'), 0)

# Display the number of seconds.
seconds_difference

0      308545936.0
1      296799736.0
2      338787676.0
3      278479876.0
4      312785476.0
          ...
995    363755536.0
996    305095696.0
997    345270316.0
998    355292896.0
999    292394236.0
Name: date, Length: 1000, dtype: float64