# Importing libraries

In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# Importing dataset

In [3]:
# Reading a CSV file and selecting specific columns
df = pd.read_csv('train.csv', usecols=['GarageQual', 'FireplaceQu', 'SalePrice'])

# Displaying the first few rows of the DataFrame
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

# Handling Missing Values

In [11]:
# Calculate the percentage of missing values in each column
df.isnull().mean() * 100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [5]:
# Storing all the input columns in variable 'X' and target column in variable 'y'

X = df[['FireplaceQu', 'GarageQual']]
y = df['SalePrice']

In [6]:
#  Dividing dataset into two subsets: one for training the model (X_train, y_train) and the other for testing its 
# performance (y_train, y_test), helping evaluate how well the model generalizes to new unseen data.

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [8]:
# Create a SimpleImputer object with the 'constant' strategy and fill missing values with 'Missing'
imputer = SimpleImputer(strategy='constant', fill_value='Missing')

In [9]:
# Impute missing values in the training data using the 'constant' strategy and 'Missing' as the fill value
X_train = imputer.fit_transform(X_train)

# Impute missing values in the testing data using the same 'constant' strategy and 'Missing' as the fill value
X_test = imputer.transform(X_test)

In [10]:
# Get the imputed values for each column based on the 'most_frequent' strategy
imputer.statistics_

array(['Missing', 'Missing'], dtype=object)